/* Accordion Animation */
.card-body {
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
                padding 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                visibility 0.5s;
    max-height: 2000px; /* Adjusted for smoother animation */
    opacity: 1;
    overflow: hidden;
    visibility: visible;
}

.single-subscription-not-selected .card-body,
.double-subscription-not-selected .card-body {
    max-height: 0;
    opacity: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    visibility: hidden;
}