/* Buttons */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: var(--font-family-base);
    text-align: center;
}

.btn-primary {
    background: var(--gradient-button-primary);
    color: var(--color-white);
}

.btn-secondary {
    background: var(--gradient-button-secondary);
    color: var(--color-white);
    height: 40px;
}

.btn-sm {
    height: 40px;
    font-size: 16px;
}

.btn-md {
    height: 50px;
    font-size: 18px;
}

.btn-lg {
    height: 60px;
    font-size: 20px;
}