:root {
    /* Button Border Radius */
    --border-radius: 31.25rem;

    --radio-primay-size: 1.125rem;
    --radio-secondary-size: 0.75rem;
}

/* Buttons Style */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.75rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-family: var(--font-family-primary);
    text-align: center;
}

.btn-primary {
    background: var(--gradient-button-primary);
    color: var(--color-white);
}

.btn-secondary {
    background: var(--gradient-button-secondary);
    color: var(--color-white);
    height: 2.5rem;
}

.btn-accent {
    border-radius: 0;
    background-color: var(--color-accent);
    color: var(--color-white);
}

.btn-sm {
    height: 2.5rem;
    font-size: 1rem;
}

.btn-md {
    height: 3.125rem;
    font-size: 1.125rem;
}

.btn-lg {
    height: 3.75rem;
    font-size: 1.25rem;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Radio Button Styles */

.radio-primary {
    input[type="radio"] {
        accent-color: var(--color-secondary);
        width: var(--radio-primay-size);
        height: var(--radio-primay-size);
    }

    input+label {
        cursor: pointer;
    }
}

.radio-secondary {
    input[type="radio"] {
        accent-color: var(--color-secondary);
        width: var(--radio-secondary-size);
        height: var(--radio-secondary-size);
        opacity: 0.5;
        cursor: pointer;
    }

    input+label {
        cursor: pointer;
    }
}