:root {
    /* Button Border Radius */
    --border-radius: 500px;

    /* Radio Button */
    --radio-size: 1.25rem;
    --radio-border-width: 0.063rem;
    --radio-dot-size: 0.75rem;
    --radio-grad-start: rgba(3, 46, 21, 0.6);
    --radio-grad-end: rgba(1, 102, 48, 0.6);
    --radio-bg: #ffffff;
}

/* Buttons Style */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: var(--font-family-base);
    text-align: center;
}

.btn-primary {
    background: var(--gradient-button-primary);
    color: var(--color-white);
}

.btn-secondary {
    background: var(--gradient-button-secondary);
    color: var(--color-white);
    height: 40px;
}

.btn-accent {
    border-radius: 0;
    background-color: var(--color-accent);
    color: var(--color-white);
}

.btn-sm {
    height: 40px;
    font-size: 16px;
}

.btn-md {
    height: 50px;
    font-size: 18px;
}

.btn-lg {
    height: 60px;
    font-size: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}