/* =========================
   HEADER SECTION
========================= */

.banner {
    background-image: url("../assets/images/hero_banner.png");
    width: 100%;
    height: 49.625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 4rem;
    box-sizing: border-box;
    z-index: 1000;
}

.brand-name {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 1.875rem;
}

.navbar {
    gap: 2rem;
}

.nav-link {
    font-family: var(--font-family-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-nav-items);
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: color 0.2s var(--ease-out);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--gradient-text);
    transition: width 0.3s var(--ease-out);
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--color-primary);
}

.dropdown-icon {
    width: 0.8125rem;
    height: 0.5rem;
}

.search-icon {
    width: 1.625rem;
    height: 1.625rem;
    cursor: pointer;
}

.banner-content {
    position: absolute;
    top: 11.125rem;
    left: 4rem;
}

/* Header Styles Ends */

/* =========================
   BANNER SECTION
========================= */

.medal-icon {
    width: 1.0625rem;
    height: 1.4375rem;
    margin-right: 0.75rem;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.keywords {
    margin-bottom: 1.875rem;
}

.banner-content .keywords {
    .header-stat-item {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        font-weight: 300;
        font-size: 1.375rem;

        span {
            font-weight: 700;
            font-size: 4.5rem;
            background: var(--gradient-text);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

/* Banner Styles Ends */

/* =========================
   PRODUCT SECTION
========================= */

.product-container {
    margin-top: 9.125rem;

    display: flex;
    justify-content: space-evenly;
}

.product-gallery {
    width: 38.125rem;
    display: flex;
    flex-direction: column;

    .product-preview {
        position: relative;
    }

    .product-img {
        width: 38.125rem;
        height: 42.063rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .product-nav {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider-pagination {
        gap: 0.5rem;

        img {
            cursor: pointer;
        }
    }

    .product-thumbnails {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        margin-top: 1.875rem;

        .preview-img {
            width: 8.125rem;
            height: 8.125rem;
            border-radius: 0.5rem;
            cursor: pointer;
            object-fit: cover;
            border: 0.125rem solid transparent;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        .preview-img:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        .preview-img.is-active {
            border-color: var(--color-primary);
        }
    }
}

.product-details {
    width: 38.125rem;
    display: flex;
    flex-direction: column;

    .product-title {
        font-weight: 600;
        font-size: 2.25rem;
    }

    .rating-section {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        gap: 0.375rem;

        .stars {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .star-icon {
                width: 0.813rem;
                height: 0.813rem;
            }
        }

        .rating-number {
            font-weight: 300;
            font-size: 0.813rem;
        }
    }

    .product-description p {
        font-weight: 300;
        text-align: justify;
        margin-top: 1.25rem;
    }

    .product-purchase {
        .most-popular {
            margin-top: 1.875rem;
            border: 0.063rem solid var(--color-grey);
            border-radius: 0.375rem;
        }

        .purchase-title {
            font-weight: 700;
            font-size: 1.25rem;
            padding: 0.625rem 0;
            text-align: center;
            background: var(--gradient-card-header);
            color: var(--color-white);
        }

        /* Subscription Option Card */
        .subscription-option {
            border-radius: 0.375rem;
            margin-top: 0.625rem;
            transition: all 0.3s ease, transform 0.2s var(--ease-out), box-shadow 0.2s var(--ease-out);
            position: relative;
            background-color: var(--color-white);
        }

        .subscription-option:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
            z-index: 1;
        }

        #subscription-double {
            border: 0.063rem solid var(--color-grey);
        }

        .subscription-option.is-selected {
            border-color: var(--color-grey);
        }

        .subscription-header {
            display: flex;
            align-items: center;
            padding: 0.75rem 1.375rem;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .radio-input {
            margin-right: 0.625rem;
        }

        .subscription-option.is-selected .header-content {
            border-bottom: 0.063rem solid var(--divider-color);
            padding-bottom: 0.75rem;
        }

        .subscription-option.is-selected .radio-input {
            margin-bottom: 0.75rem;
        }

        .radio-label {
            font-weight: 300;
            font-size: 1.25rem;
        }

        .discount-price {
            font-weight: 700;
            font-size: 1.25rem;
            margin-right: 0.625rem;
        }

        .original-price {
            color: var(--color-grey);
            font-weight: 300;
            font-size: 1.25rem;
            text-decoration: line-through;
        }

        .subscription-body {
            padding: 0;
            height: 0;
            overflow: hidden;
            transition: height 0.4s ease, padding 0.4s ease;
            box-sizing: border-box;
        }

        .subscription-option.is-selected .subscription-body {
            padding: 0.25rem 1.375rem 1.625rem 1.375rem;
        }

        .fragrance,
        .included {
            padding-left: 1.4375rem;
        }

        .fragrance-title,
        .included-title {
            font-weight: 300;
            font-size: 1rem;
            margin-bottom: 0.9375rem;
        }

        .fragrance-2 {
            margin-top: 0.75rem;
        }

        .fragrance-container {
            display: flex;
            gap: 0.625rem;

            .original,
            .lily,
            .rose {
                background-color: var(--color-grey-light);
                padding: 0.625rem;
                width: 7.9375rem;
                height: 9.0625rem;
                border-radius: 0.3125rem;
            }

            .product-img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.75rem;

                img {
                    width: 3.4375rem;
                    height: 5.9375rem;
                    object-fit: cover;
                }
            }

            .label {
                font-weight: 300;
                font-size: 0.875rem;
                color: var(--color-grey-dark);
            }

            input[type="radio"]:checked+.label {
                color: var(--gradient-text);
            }
        }

        .included {
            margin-top: 1.75rem;

            .included-item-container {
                display: flex;
                gap: 0.9375rem;
            }

            .included-item-monthly {
                width: 10.3125rem;
                height: 13.75rem;
            }

            .included-item-onetime {
                width: 20.5rem;
                height: 13.75rem;
            }

            .included-item-monthly,
            .included-item-onetime {
                border: 0.063rem solid var(--color-grey);
                border-radius: 0.375rem;
                padding: 0.625rem;

                .label {
                    font-weight: 300;
                    font-size: 1rem;
                    color: var(--color-grey-text);
                }

                .product-img-lg {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0.75rem;

                    img {
                        width: 5.25rem;
                        height: 9rem;
                        object-fit: cover;
                    }
                }

                .product-img {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 2.125rem;

                    img {
                        width: 3.4375rem;
                        height: 5.9375rem;
                        object-fit: cover;
                    }
                }

                span {
                    font-weight: 700;
                    font-size: 1rem;
                    color: var(--color-primary);
                }
            }
        }

        .details {
            margin-top: 1.25rem;
            padding-left: 1.4375rem;

            .details-list {

                .detail-item {
                    display: flex;
                    align-items: center;
                    gap: 0.375rem;
                    font-weight: 300;
                    font-size: 0.875rem;
                    text-transform: titlecase;
                    margin-bottom: 0.625rem;

                    span {
                        font-weight: 700;
                    }

                    img {
                        width: 0.875rem;
                        height: 0.875rem;
                    }
                }
            }
        }

        .best-seller-img {
            position: relative;
        }

        .best-seller {
            font-weight: 700;
            font-size: 0.4375rem;
            color: var(--color-white);
            background: var(--gradient-bg);
            padding: 0.3125rem 0.375rem;
            width: fit-content;
            border-radius: 0.5rem 0 0.5rem 0;
            position: absolute;
            top: -0.625rem;
            right: 0.3125rem;
        }
    }
}

/* Product Styles Ends */

/* =========================
   COLLECTION SECTION
========================= */

.collection-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 9.0625rem;

}

/* LEFT */
.collection-title {
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

/* ACCORDION */
.accordion-item {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--accordion-border);
    width: 39.125rem;
    overflow: hidden;
    transition: height 0.4s ease, transform 0.2s var(--ease-out), box-shadow 0.2s var(--ease-out);
}

.accordion-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.accordion-header {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-primary);
}

.accordion-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../assets/images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.accordion-icon::before,
.accordion-icon::after {
    display: none;
}

.accordion-item[open] .accordion-icon {
    background-image: url("../assets/images/icons/minus.svg");
}

.accordion-body {
    padding: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
    color: var(--accordion-body);
}

/* RIGHT IMAGE */
.collection-image .spray-img {
    width: 36.6875rem;
    height: 44.5rem;
    object-fit: cover;
    border-radius: 1.25rem;
}

/* Collection Styles Ends */

/* =========================
   STATS SECTION
========================= */

.stats-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6.25rem;
    background: var(--gradient-bg);
    padding: 3.5rem 0rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 13.4375rem;

    .stat-number {
        font-weight: 700;
        font-size: 2.5rem;
        text-align: center;
        color: var(--color-white);
    }

    .stat-label {
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
        color: var(--color-white);
    }
}

/* Stats Styles Ends */

/* =========================
   TABLE SECTION
========================= */
#table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.375rem;

}

.comparison {
    width: 100%;
    max-width: 59.375rem;
}

.comparison-header {
    text-align: center;
}

.comparison-divider {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    display: block;
}

.comparison-title {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    margin: 2.5rem 0 3.4375rem 0;
}

.comparison-table-wrapper {
    overflow-x: auto;
}

.comparison-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: var(--color-white);
}

.comparison-cell {
    text-align: center;
    padding: 0.9375rem;
    border-bottom: 0.0625rem solid var(--table-border);
    vertical-align: middle;
    font-weight: 300;
    font-size: 1rem;
    color: var(--table-secondary-text);
}

.comparison-cell-head {
    font-weight: 500;
    background: var(--color-white);
    vertical-align: bottom;
}

.comparison-align-left {
    text-align: left;
    font-weight: 700;
    color: var(--color-black);
}

td.comparison-align-left {
    color: var(--table-secondary-text);
}

.comparison-brand-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.4375rem;
}

.comparison-brand-img img {
    width: 5.5rem;
    height: 5.4375rem;
    object-fit: cover;
    border-radius: 0.9375rem;
}

.comparison-brand-name {
    font-weight: 300;
    font-size: 0.75rem;
    text-align: center;
    color: var(--table-secondary-text);
    display: block;
}

/* Highlight GTG column */
.comparison-highlight {
    background: var(--table-bg);
    border-bottom: 0.0625rem dashed var(--table-border);
}

.comparison-highlight .comparison-brand-name {
    font-size: 1.25rem;
    color: var(--color-black);
}

/* Icon styles */
.comparison-icon {
    display: inline-block;
    width: 1.6875rem;
    height: 1.6875rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.comparison-icon-check {
    background-image: url('../assets/images/icons/check.svg');
}

.comparison-icon-check-outline {
    background-image: url('../assets/images/icons/check-outline.svg');
}

.comparison-icon-cross {
    background-image: url('../assets/images/icons/cross.svg');
}

.comparison-highlight-top {
    border-radius: 0.9375rem 0.9375rem 0 0;
}

.comparison-cta {
    display: flex;
    justify-content: center;
    margin-top: 5.125rem;
}

/* Comparison Styles Ends */

/* =========================
   FOOTER SECTION
========================= */

.site-footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 4rem 0rem;
    margin-top: 6.5625rem;

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        max-width: 100%;
    }

    /* Left section */

    .footer-brand {
        font-weight: 700;
        font-size: 2.625rem;
        margin-bottom: 2.5rem;
    }

    .footer-content {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-links {
        display: flex;
        align-items: center;
        gap: 9.375rem;
    }

    .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-links li {
        margin-bottom: 1.25rem;
    }

    .footer-links a {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
        font-weight: 300;
        font-size: 0.875rem;
        font-family: var(--font-family-secondary);
    }

    /* Social */
    .social-links .icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
    }

    /* Right section */
    .footer-right {
        flex: 1;
        max-width: 32.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .newsletter-title {
        font-weight: 700;
        font-size: 16px;
        color: var(--color-white);
        margin-bottom: 24px;
    }

    .newsletter-form {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
    }

    .newsletter-form input {
        flex: 1;
        padding: 14px 16px;
        background: transparent;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        font-size: 16px;
        font-weight: 300;
        height: 50px;
    }

    .newsletter-note {
        font-weight: 300;
        font-size: 12px;
        font-family: var(--font-family-secondary);
        line-height: 150%;
    }

    .newsletter-note a {
        text-decoration: underline;
    }
}