/* Header Styles Starts */

.banner {
    background-image: url("../assets/images/hero_banner.png");
    width: 100%;
    height: 49.625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 4rem;
    box-sizing: border-box;
    z-index: 1000;
}

.brand-name {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 150%;
}

.navbar {
    gap: 2rem;
}

.nav-link {
    font-family: var(--font-family-base);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-nav-items);
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown-icon {
    width: 0.8125rem;
    height: 0.5rem;
}

.search-icon {
    width: 1.625rem;
    height: 1.625rem;
    cursor: pointer;
}

.banner-content {
    position: absolute;
    top: 11.125rem;
    left: 4rem;
}

/* Header Styles Ends */

/* Banner Styles Starts */

.medal-icon {
    width: 1.0625rem;
    height: 1.4375rem;
    margin-right: 0.75rem;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    line-height: 100%;
}

.keywords {
    margin-bottom: 2.5rem;
}

.banner-content .keywords {
    .stat-item {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 100%;

        span {
            font-weight: 700;
            font-size: 4.5rem;
            background: var(--gradient-text);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 100%;
        }
    }
}

/* Banner Styles Ends */

/* Product Styles Starts */

.product-container {
    margin-top: 9.125rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between
}

.product-gallery {
    width: 38.125rem;
    display: flex;
    flex-direction: column;

    .product-preview {
        position: relative;
    }

    .product-img {
        width: 38.125rem;
        height: 42.063rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .product-nav {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider-pagination {
        gap: 0.5rem;

        img {
            cursor: pointer;
        }
    }

    .product-thumbnails {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        margin-top: 1.875rem;

        .preview-img {
            width: 8.125rem;
            height: 8.125rem;
            border-radius: 0.5rem;
            cursor: pointer;
            object-fit: cover;
        }
    }
}

.product-details {
    width: 38.125rem;
    display: flex;
    flex-direction: column;

    .product-title {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 100%;
    }

    .rating-section {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        gap: 0.375rem;

        .stars {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .star-icon {
                width: 0.813rem;
                height: 0.813rem;
            }
        }

        .rating-number {
            font-weight: 300;
            font-size: 0.813rem;
            line-height: 100%;
        }
    }

    .product-description p {
        font-weight: 300;
        line-height: 100%;
        text-align: justify;
        margin-top: 1.25rem;
    }

    .product-purchase {
        .most-popular {
            margin-top: 1.875rem;
            border: 0.063rem solid var(--color-grey);
            border-radius: 0.375rem;
        }

        .purchase-title {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.5rem;
            padding: 0.625rem 0;
            text-align: center;
            background: var(--gradient-card-header);
            color: var(--color-white);
        }

        /* Subscription Option Card */
        .subscription-option {
            border-radius: 0.375rem;
            margin-top: 0.625rem;
            transition: all 0.3s ease;
        }

        #subscription-double {
            border: 0.063rem solid var(--color-grey);
        }

        /* Selected State */
        .subscription-option.is-selected {
            border-color: var(--color-grey);
            /* Or primary color if desired */
        }

        /* Header Section */
        .subscription-header {
            display: flex;
            align-items: center;
            padding: 0.75rem 1.375rem;
            cursor: pointer;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .radio-input {
            margin-right: 0.625rem;
        }

        /* Add border to header only when selected (to separate from body) */
        .subscription-option.is-selected .header-content {
            border-bottom: 0.063rem solid var(--divider-color);
            padding-bottom: 0.75rem;
        }

        .subscription-option.is-selected .radio-input {
            margin-bottom: 0.75rem;
        }

        .radio-label {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.875rem;
        }

        .discount-price {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.875rem;
            margin-right: 0.625rem;
        }

        .original-price {
            color: var(--color-grey);
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-decoration: line-through;
        }

        /* Body Section */
        .subscription-body {
            padding: 0.25rem 1.375rem 1.625rem 1.375rem;
            display: none;
            /* Hidden by default */
        }

        .subscription-option.is-selected .subscription-body {
            display: block;
            /* Show when selected */
        }

        .fragrance,
        .included {
            padding-left: 1.4375rem;
        }

        .fragrance-title,
        .included-title {
            font-weight: 300;
            font-size: 1rem;
            line-height: 100%;
            margin-bottom: 0.9375rem;
        }

        .fragrance-2 {
            margin-top: 0.75rem;
        }

        .fragrance-container {
            display: flex;
            gap: 0.625rem;

            .original,
            .lily,
            .rose {
                background-color: var(--color-grey-light);
                padding: 0.625rem;
                width: 7.9375rem;
                height: 9.0625rem;
                border-radius: 0.3125rem;
            }

            .product-img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.75rem;

                img {
                    width: 3.4375rem;
                    height: 5.9375rem;
                    object-fit: cover;
                }
            }

            .label {
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 100%;
                color: var(--color-grey-dark);
            }

            input[type="radio"]:checked+.label {
                color: var(--gradient-text);
            }
        }

        .included {
            margin-top: 1.75rem;

            .included-item-container {
                display: flex;
                gap: 0.9375rem;
            }

            .included-item-monthly {
                width: 10.3125rem;
                height: 13.75rem;
            }

            .included-item-onetime {
                width: 20.5rem;
                height: 13.75rem;
            }

            .included-item-monthly,
            .included-item-onetime {
                border: 0.063rem solid var(--color-grey);
                border-radius: 0.375rem;
                padding: 0.625rem;

                .label {
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 100%;
                    color: var(--color-grey-text);
                }

                .product-img-lg {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0.75rem;

                    img {
                        width: 5.25rem;
                        height: 9rem;
                        object-fit: cover;
                    }
                }

                .product-img {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 2.125rem;

                    img {
                        width: 3.4375rem;
                        height: 5.9375rem;
                        object-fit: cover;
                    }
                }

                span {
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 100%;
                    color: var(--color-primary);
                }
            }
        }

        .details {
            margin-top: 1.25rem;
            padding-left: 1.4375rem;

            .details-list {

                .detail-item {
                    display: flex;
                    align-items: center;
                    gap: 0.375rem;
                    font-weight: 300;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    text-transform: titlecase;
                    margin-bottom: 0.625rem;

                    span {
                        font-weight: 700;
                    }

                    img {
                        width: 0.875rem;
                        height: 0.875rem;
                    }
                }
            }
        }

        .best-seller-img {
            position: relative;
        }

        .best-seller {
            font-weight: 700;
            font-size: 0.4375rem;
            line-height: 100%;
            color: var(--color-white);
            background: var(--gradient-bg);
            padding: 0.3125rem 0.375rem;
            width: fit-content;
            border-radius: 0.5rem 0 0.5rem 0;
            position: absolute;
            top: -0.625rem;
            right: 0.3125rem;
        }
    }
}

/* Product Styles Ends */

/* Footer Styles Starts */

.site-footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 64px 64px;
    margin-top: 105px;

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        max-width: 100%;
    }

    /* Left section */
    .footer-left {
        flex: 1;
    }

    .footer-brand {
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
        margin-bottom: 40px;
    }

    .footer-links {
        display: flex;
        align-items: center;
        gap: 150px;
    }

    .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-links li {
        margin-bottom: 20px;
    }

    .footer-links a {
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
    }

    /* Social */
    .social-links .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    /* Right section */
    .footer-right {
        flex: 1;
        max-width: 520px;
    }

    .newsletter-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: var(--color-white);
        margin-bottom: 24px;
    }

    .newsletter-form {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
    }

    .newsletter-form input {
        flex: 1;
        padding: 14px 16px;
        background: transparent;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        height: 50px;
    }

    .newsletter-note {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
    }

    .newsletter-note a {
        text-decoration: underline;
    }
}