/* Header Styles */
.banner {
    background-image: url("../assets/images/hero_banner.png");
    width: 100%;
    height: 794px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 64px;
    box-sizing: border-box;
    z-index: 1000;
}

.brand_name {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
}

.navbar {
    gap: 32px;
}

.nav-link {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-nav-items);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.downarrow-icon {
    width: 13px;
    height: 8px;
}

.search-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.banner-content {
    position: absolute;
    top: 178px;
    left: 64px;
}

.medal-icon {
    width: 17px;
    height: 23px;
    margin-right: 12px;
}

.banner-title {
    font-weight: 700;
    font-size: 56px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 100%;
}

.keywords {
    margin-bottom: 40px;
}

.banner-content .keywords {
    .text {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        font-weight: 300;
        font-size: 22px;
        line-height: 100%;

        span {
            font-weight: 700;
            font-size: 72px;
            background: var(--gradient-text);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 100%;
        }
    }
}

