/* Header Styles Starts */
.banner {
    background-image: url("../assets/images/hero_banner.png");
    width: 100%;
    height: 49.625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 4rem;
    box-sizing: border-box;
    z-index: 1000;
}

.brand-name {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 150%;
}
.navbar {
    gap: 2rem;
}
.nav-link {
    font-family: var(--font-family-base);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-nav-items);
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown-icon {
    width: 0.8125rem;
    height: 0.5rem;
}

.search-icon {
    width: 1.625rem;
    height: 1.625rem;
    cursor: pointer;
}

.banner-content {
    position: absolute;
    top: 11.125rem;
    left: 4rem;
}

/* Header Styles Ends */

/* Banner Styles Starts */

.medal-icon {
    width: 1.0625rem;
    height: 1.4375rem;
    margin-right: 0.75rem;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    line-height: 100%;
}

.keywords {
    margin-bottom: 2.5rem;
}

.banner-content .keywords {
    .stat-item {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 100%;

        span {
            font-weight: 700;
            font-size: 4.5rem;
            background: var(--gradient-text);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 100%;
        }
    }
}

/* Banner Styles Ends */