.container {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.gap-6 {
    gap: 0.375rem;
}

.gap-12 {
    gap: 0.75rem;
}