<div class="banner">
    <div class="header-container flex flex-space-between flex-center">
        <div class="flex flex-center gap-12">
            <!-- Hamburger Menu Button -->
            <button class="hamburger-menu" aria-label="Toggle Menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <h1 class="brand-name">GTG</h1>
        </div>

        <nav class="desktop-nav">
            <ul class="flex navbar">
                <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Shop
                        <img src="assets/images/icons/chevron_down.svg" alt="arrow down" class="dropdown-icon"
                            width="12" height="12" decoding="async">
                    </a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Fragrances</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </nav>
        <div class="flex flex-center gap-12 header-actions">
            <img src="assets/images/icons/search.svg" alt="Search" class="search-icon" width="24" height="24"
                decoding="async">
            <button class="btn btn-primary btn-md">Shop Now</button>
        </div>
    </div>

    <div class="banner-content">
        <button class="btn btn-secondary btn-sm">
            <img src="assets/images/icons/medal.svg" alt="Medal" class="medal-icon" width="16" height="16"
                decoding="async">
            Awarded the best perfume in the world
        </button>
        <h2 class="banner-title">Live your best life.</h2>
        <div class="keywords flex">
            <div class="header-stat-item"><span>10x</span> power</div>
            <div class="header-stat-item"><span>9</span> ingredients</div>
            <div class="header-stat-item"><span>20k+</span> happy customers</div>
        </div>
        <button class="btn btn-primary btn-md">Shop Now</button>
    </div>
</div>