<div class="product-container">
    <div class="product-gallery">
        <div class="product-preview">
            <img src="../assets/images/preview_original.png" alt="Product Image" class="product-img">
            <div class="product-nav">
                <button class="icon-button left-arrow-button">
                    <img src="../assets/images/icons/slider_arrow_left.svg" alt="Left Arrow">
                </button>
                <div class="flex center-dot-button">
                    <img src="../assets/images/icons/slider_dot_filled.svg" alt="Active Dot">
                    <img src="../assets/images/icons/slider_dot_empty.svg" alt="Empty Dot">
                    <img src="../assets/images/icons/slider_dot_empty.svg" alt="Empty Dot">
                    <img src="../assets/images/icons/slider_dot_empty.svg" alt="Empty Dot">
                </div>
                <button class="icon-button right-arrow-button">
                    <img src="../assets/images/icons/slider_arrow_right.svg" alt="Right Arrow">
                </button>
            </div>
        </div>
        <div class="product-thumbnails">
            <div class="flex flex-space-between">
                <img src="../assets/images/preview_1.png" alt="Preview 1" class="preview-img">
                <img src="../assets/images/preview_2.png" alt="Preview 2" class="preview-img">
                <img src="../assets/images/preview_3.png" alt="Preview 3" class="preview-img">
                <img src="../assets/images/preview_4.png" alt="Preview 4" class="preview-img">
            </div>
            <div class="flex flex-space-between">
                <img src="../assets/images/preview_1.png" alt="Preview 1" class="preview-img">
                <img src="../assets/images/preview_2.png" alt="Preview 2" class="preview-img">
                <img src="../assets/images/preview_3.png" alt="Preview 3" class="preview-img">
                <img src="../assets/images/preview_4.png" alt="Preview 4" class="preview-img">
            </div>
        </div>
    </div>
    <div class="product-details">
        <h2 class="product-title">GTG Perfumes</h2>
        <div class="rating-section">
            <div class="stars">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_half.svg" alt="Star" class="star-icon">
            </div>
            <span class="rating-number">4.7 (999+ reviews)</span>
        </div>
        <div class="product-description">
            <p>
                Experience the timeless allure backed by modern artistry, captured in every bottle of our fragrance.
                Crafted for those who seek to elevate their essence with purpose and sophistication.
            </p>
        </div>

        <div class="product-purchase">
            <div class="most-popular">
                <h3 class="purchase-title">Most Popular</h3>

                <div class="single-subscription-selected">
                    <input type="radio" class="radio-input" id="single" name="single-subscription" checked>
                    <div class="card-title">
                        <label for="single" class="radio-label">Single Subscription</label>
                        <div>
                            <span class="discount-price">$99.99</span>
                            <span class="original-price">$146</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="double-subscription-not-selected">
                <input type="radio" class="radio-input" id="double" name="double-subscription">
                <div class="card-title">
                    <label for="double" class="radio-label">Double Subscription</label>
                    <div>
                        <span class="discount-price">$169.99</span>
                        <span class="original-price">$146</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>