<div class="product-container">
    <div class="product-gallery">
        <div class="product-preview">
            <img src="../assets/images/preview_original.png" alt="Product Image" class="product-img"
                fetchpriority="high" width="500" height="500" decoding="async">
            <div class="product-nav">
                <button class="icon-button left-arrow-button" aria-label="Previous Image">
                    <img src="../assets/images/icons/slider_arrow_left.svg" alt="Left Arrow" width="38" height="38">
                </button>
                <div class="flex slider-pagination">
                    <img src="../assets/images/icons/slider_dot_filled.svg" alt="Active Dot" width="8" height="8">
                    <img src="../assets/images/icons/slider_dot_empty.svg" alt="Empty Dot" width="8" height="8">
                    <img src="../assets/images/icons/slider_dot_empty.svg" alt="Empty Dot" width="8" height="8">
                    <img src="../assets/images/icons/slider_dot_empty.svg" alt="Empty Dot" width="8" height="8">
                </div>
                <button class="icon-button right-arrow-button" aria-label="Next Image">
                    <img src="../assets/images/icons/slider_arrow_right.svg" alt="Right Arrow" width="38" height="38">
                </button>
            </div>
        </div>
        <div class="product-thumbnails">
            <div class="flex flex-space-between">
                <img src="../assets/images/preview_original.png" alt="Preview 1" class="preview-img" loading="lazy"
                    width="80" height="80" decoding="async">
                <img src="../assets/images/preview_2.png" alt="Preview 2" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
                <img src="../assets/images/preview_3.png" alt="Preview 3" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
                <img src="../assets/images/preview_4.png" alt="Preview 4" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
            </div>
            <div class="flex flex-space-between">
                <img src="../assets/images/preview_1.png" alt="Preview 1" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
                <img src="../assets/images/preview_2.png" alt="Preview 2" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
                <img src="../assets/images/preview_3.png" alt="Preview 3" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
                <img src="../assets/images/preview_4.png" alt="Preview 4" class="preview-img" loading="lazy" width="80"
                    height="80" decoding="async">
            </div>
        </div>
    </div>

    <div class="product-details">
        <h2 class="product-title">GTG Perfumes</h2>
        <div class="rating-section">
            <div class="stars">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_full.svg" alt="Star" class="star-icon">
                <img src="../assets/images/icons/star_half.svg" alt="Star" class="star-icon">
            </div>
            <span class="rating-number">4.7 (999+ reviews)</span>
        </div>
        <div class="product-description">
            <p>
                Experience the timeless allure backed by modern artistry, captured in every bottle of our fragrance.
                Crafted for those who seek to elevate their essence with purpose and sophistication.
            </p>
        </div>

        <div class="product-purchase">
            <div class="most-popular">
                <h3 class="purchase-title">Most Popular</h3>

                <div id="subscription-single" class="subscription-option is-selected">
                    <div class="subscription-header radio-primary">
                        <input type="radio" class="radio-input radio-primary" id="single" name="subscription"
                            value="singleSubscription" checked>
                        <div class="header-content">
                            <label for="single" class="radio-label">Single Subscription</label>
                            <div>
                                <span class="discount-price">$99.99</span>
                                <span class="original-price">$146</span>
                            </div>
                        </div>
                    </div>

                    <div class="subscription-body">
                        <div class="fragrance">
                            <h5 class="fragrance-title">Choose a Fragrance</h5>
                            <div class="fragrance-container radio-secondary">
                                <div class="original best-seller-img">
                                    <div class="flex flex-center gap-6">
                                        <input type="radio" id="frag-single-original" name="fragrance_single"
                                            value="original" checked>
                                        <label for="frag-single-original" class="label">Original</label>
                                    </div>
                                    <div class="product-img">
                                        <img src="../assets/images/product_original.png" alt="Original Fragrance"
                                            loading="lazy" width="60" height="60" decoding="async">
                                    </div>
                                    <div class="best-seller">BEST-SELLER</div>
                                </div>
                                <div class="lily">
                                    <div class="flex flex-center gap-6">
                                        <input type="radio" id="frag-single-lily" name="fragrance_single" value="lily">
                                        <label for="frag-single-lily" class="label">Lily</label>
                                    </div>
                                    <div class="product-img">
                                        <img src="../assets/images/product_lily.png" alt="Lily Fragrance" loading="lazy"
                                            width="60" height="60" decoding="async">
                                    </div>
                                </div>
                                <div class="rose">
                                    <div class="flex flex-center gap-6">
                                        <input type="radio" id="frag-single-rose" name="fragrance_single" value="rose">
                                        <label for="frag-single-rose" class="label">Rose</label>
                                    </div>
                                    <div class="product-img">
                                        <img src="../assets/images/product_rose.png" alt="Rose Fragrance" loading="lazy"
                                            width="60" height="60" decoding="async">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="included">
                            <h5 class="included-title">What's Included:</h5>
                            <div class="included-item-container">
                                <div class="included-item-monthly">
                                    <label class="label">Every 30 Days</label>
                                    <div class="product-img-lg">
                                        <img src="../assets/images/product_original.png" alt="Original Fragrance">
                                    </div>
                                </div>
                                <div class="included-item-onetime">
                                    <label class="label">One Time <span>(Free)</span></label>
                                    <div class="product-img">
                                        <img src="../assets/images/product_original.png" alt="Original Fragrance">
                                        <img src="../assets/images/product_lily.png" alt="Lily Fragrance">
                                        <img src="../assets/images/product_rose.png" alt="Rose Fragrance">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="details">
                            <ul class="details-list">
                                <li class="detail-item">
                                    <img src="../assets/images/icons/seal_check.svg" alt="check" class="checkmark-icon">
                                    1 Bottle Shipped Monthly
                                </li>
                                <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                        class="checkmark-icon"><span>Free</span> Sampler For Original, Lily And Rose
                                    Fragrances</li>
                                <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                        class="checkmark-icon"><span>50% OFF Shipping</span></li>
                                <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                        class="checkmark-icon">Pause or Cancel Anytime after 3 months minimum</li>
                                <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                        class="checkmark-icon">28 Day Money Back Guarantee*</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="subscription-double" class="subscription-option">
                <div class="subscription-header radio-primary">
                    <input type="radio" class="radio-input" id="double" name="subscription" value="doubleSubscription">
                    <div class="header-content">
                        <label for="double" class="radio-label">Double Subscription</label>
                        <div>
                            <span class="discount-price">$169.99</span>
                            <span class="original-price">$146</span>
                        </div>
                    </div>
                </div>

                <div class="subscription-body">
                    <div class="fragrance radio-secondary">
                        <h5 class="fragrance-title">Choose a Fragrance 1</h5>
                        <div class="fragrance-container">
                            <div class="original best-seller-img">
                                <div class="flex flex-center gap-6">
                                    <input type="radio" id="frag-double-1-original" name="fragrance_double_1"
                                        value="original" checked>
                                    <label for="frag-double-1-original" class="label">Original</label>
                                </div>
                                <div class="product-img">
                                    <img src="../assets/images/product_original.png" alt="Original Fragrance">
                                </div>
                                <div class="best-seller">BEST-SELLER</div>
                            </div>
                            <div class="lily">
                                <div class="flex flex-center gap-6">
                                    <input type="radio" id="frag-double-1-lily" name="fragrance_double_1" value="lily">
                                    <label for="frag-double-1-lily" class="label">Lily</label>
                                </div>
                                <div class="product-img">
                                    <img src="../assets/images/product_lily.png" alt="Lily Fragrance">
                                </div>
                            </div>
                            <div class="rose">
                                <div class="flex flex-center gap-6">
                                    <input type="radio" id="frag-double-1-rose" name="fragrance_double_1" value="rose">
                                    <label for="frag-double-1-rose" class="label">Rose</label>
                                </div>
                                <div class="product-img">
                                    <img src="../assets/images/product_rose.png" alt="Rose Fragrance">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fragrance fragrance-2 radio-secondary">
                        <h5 class="fragrance-title">Choose a Fragrance 2</h5>
                        <div class="fragrance-container">
                            <div class="original best-seller-img">
                                <div class="flex flex-center gap-6">
                                    <input type="radio" id="frag-double-2-original" name="fragrance_double_2"
                                        value="original" checked>
                                    <label for="frag-double-2-original" class="label">Original</label>
                                </div>
                                <div class="product-img">
                                    <img src="../assets/images/product_original.png" alt="Original Fragrance">
                                </div>
                                <div class="best-seller">BEST-SELLER</div>
                            </div>
                            <div class="lily">
                                <div class="flex flex-center gap-6">
                                    <input type="radio" id="frag-double-2-lily" name="fragrance_double_2" value="lily">
                                    <label for="frag-double-2-lily" class="label">Lily</label>
                                </div>
                                <div class="product-img">
                                    <img src="../assets/images/product_lily.png" alt="Lily Fragrance">
                                </div>
                            </div>
                            <div class="rose">
                                <div class="flex flex-center gap-6">
                                    <input type="radio" id="frag-double-2-rose" name="fragrance_double_2" value="rose">
                                    <label for="frag-double-2-rose" class="label">Rose</label>
                                </div>
                                <div class="product-img">
                                    <img src="../assets/images/product_rose.png" alt="Rose Fragrance">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="included">
                        <h5 class="included-title">What's Included:</h5>
                        <div class="included-item-container">
                            <div class="included-item-monthly">
                                <label class="label">Every 30 Days</label>
                                <div class="product-img-lg">
                                    <img src="../assets/images/product_original.png" alt="Original Fragrance">
                                </div>
                            </div>
                            <div class="included-item-onetime">
                                <label class="label">One Time <span>(Free)</span></label>
                                <div class="product-img">
                                    <img src="../assets/images/product_original.png" alt="Original Fragrance">
                                    <img src="../assets/images/product_lily.png" alt="Lily Fragrance">
                                    <img src="../assets/images/product_rose.png" alt="Rose Fragrance">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="details">
                        <ul class="details-list">
                            <li class="detail-item">
                                <img src="../assets/images/icons/seal_check.svg" alt="check" class="checkmark-icon">
                                1 Bottle Shipped Monthly
                            </li>
                            <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                    class="checkmark-icon"><span>Free</span> Sampler For Original, Lily And Rose
                                Fragrances</li>
                            <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                    class="checkmark-icon"><span>50% OFF Shipping</span></li>
                            <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                    class="checkmark-icon">Pause or Cancel Anytime after 3 months minimum</li>
                            <li class="detail-item"><img src="../assets/images/icons/seal_check.svg" alt="check"
                                    class="checkmark-icon">28 Day Money Back Guarantee*</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="checkout-actions" style="margin-top: 2rem;">
                <button id="add-to-cart" class="btn btn-primary btn-lg btn-fullwidth">Add to Cart</button>
            </div>
        </div>
    </div>
</div>